/* default to help spacing*/
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

main {
  padding: 20px 0;
  background: white;
}

main h2 {
  margin: 5px 10px;
  border-bottom: 2px solid rgb(10, 137, 241);
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  
}


.contact-img {
  width: 100%;
  margin-bottom: 0px;
}



/* group and items*/
.group {
  display: flex;
  flex-direction: column;
  color: black;
  padding: 30px 10px;
  
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}


/* desktop */

@media all and (min-width: 800px) {
  section {
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
  main h2 {
    text-align: left;
  }
}


form {
  padding-right: 6px;
  font-family: Helvetica;
}

form input, form textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 15px;

}

form textarea {
  height: 160px;
}